[Service]
User=jer
WorkingDirectory=/home/jer/projects/arduino-remote/py/arduino_remote_app
#Restart=always
#RestartSec=10
ExecStart=/home/jer/projects/arduino-remote/py/arduino_remote_app/run

[Unit]
After=network-online.target
Requires=network-online.target

[Install]
WantedBy=multi-user.target
